body{
    display: flex;
    justify-content: center;
    align-items: center; 
}    
div{
    background-color: black;
    height: 570px;
    width: 60%;
    margin: auto;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: #ff8300;
    margin-bottom: 0px;
    font-size: 40px;
}
h1 span{
color: white;
font-size: 30px;
}
h1 img{
    height: 50px;
    width: 50px;
}
p{
    color: white;
    margin-bottom: 2rem;
    font-size: 20px;
}
label{
    color: white;
    text-align: start;
    display: inline;
    font-size: 25px;
}
input{
    height: 22px;
    font-size: 18px;
}
span{
    color: red;
    font-size: 18px;
}
::placeholder{
    font-size: 16px;
}
button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px red solid;
    display: inline-block;
    margin: 0px 10px;
}
button:hover{
    background-color: white;
    color: red;
    border: 1px red solid;
}
table {
      border-collapse: collapse;
      width: 40%;
      margin: 0 auto;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: white;
    }

    tr {
      background-color: white;
    }

