body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-right: 1rem;
}

header #logo {
    padding: 1rem 1rem;
    color: #ff8300;
    font-size: 30px;
    margin: 0;
}

header #logo h2 {
    margin: 0;
}
header #logo h2 span {
    color: white;
    font-size: 20px;
}

header #logo h2:hover {
    transform: scale(1.2);
}

header div {
    margin-top: 1rem;
}

header div ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header div ul li {
    list-style-type: none;
    padding: 0rem 1rem;
    padding: none;
}

header div ul li a {
    text-decoration: none;
    color: aqua;
    font-size: 20px;
}

header div ul li a:hover {
    color: red;
}
#myprofile{
    margin-left: 3rem;
}
#myprofile h1{
    font-size: 30px;
    border-bottom: 1px black solid;
    margin-left: -2rem;
}
#myprofile h4{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.767);
    display: inline-block;
    margin: 5px 0px;
}
#myprofile h6{
    font-size: 18px;
    color: rgb(2, 2, 114);
    display: inline-block;
    margin: 0px 5px;
}
#myprofile ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#myprofile ul li{
    padding: 0px;
    margin: 0px;
    color: blue;
    font-weight: 700;
} 
#myprofile h6 i{
    font-size: 15px;
    color: rgb(2, 2, 114);
    padding: 0px;
    padding-left: 5px;
}
#trainer {
    background-color: black;
}

#trainer h2 {
    padding-top: 2rem;
    font-size: 35px;
    color: rgb(148, 0, 0);
    font-weight: 700;
    text-align: center;
}

#trainer nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

#trainer div {
    width: 25%;
    align-items: center;
}

#trainer div img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin: 1rem 2rem;
    opacity: 50%;
}
#trainer div p {
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
    color: white;
}

#trainer div img:hover {
    transform: scale(1.1);
    opacity: 100%;
}

#trainer div h2 {
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 400;
}

#trainer div p {
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}
#plans{
    font-size: 35px;
    color: black;
    font-weight: 700;
    text-align: center;
}
#subscribe {
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

#subscribe div {
    border: 1px black solid;
    background-color: white;
    width: 23%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 470px;
}

#subscribe div h4 {
    text-align: center;
    color: red;
    font-size: 20px;
}

#subscribe div nav {
    background-color: black;
    width: 100%;
}

#subscribe div nav h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0;
}

#subscribe div h1 i {
    color: white;
    font-size: 20px;
}

#subscribe div nav h5 {
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 10px;
    padding-bottom: 10px;
}

#subscribe div ul {
    list-style-type: none;
    padding: 0px;
}

#subscribe div ul li {
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 10px;
}

#subscribe div button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 10px 20px;
    font-size: 15px;
    margin-bottom: 1rem;
}
#subscribe div button:hover{
    background-color: white;
    color: red;
    border: 1px red solid;
}
footer {
    background-color: black;

}

footer section {
    display: flex;
    justify-content: space-around;
    padding-left: 4rem;
}

footer #ffirst {
    width: 33%;
}

footer #ffirst h2 {
    color: goldenrod;
    font-size: 50px;
    margin: 2rem 0rem 0rem 0rem;
}
footer #ffirst img{
    height: 50px;
    width: 50px;
}
footer #ffirst h2 span{
   
    color: white;
    font-size: 30px;
}
footer #ffirst h5 {
    font-size: 16px;
    color: white;
    width: 50%;
    margin: 1rem 0rem;
}

i {
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
}

footer #ffirst i:hover {
    color: blue;
    transform: scale(1.3);
}

footer #fsecond {
    width: 33%;
}

footer #fsecond {
    color: bisque;
    font-size: 22px;
}

footer #fsecond h3 {
    font-size: 18px;
    margin: 0px;
    color: white;
    margin-top: 1rem;
}

footer #fsecond h5 {
    font-size: 16px;
    color: white;
    margin: 10px;
}

footer #fsecond i {
    color: white;
    font-size: 18px;
    margin-right: 5px;
}

footer #fthird {
    width: 33%;
    padding-bottom: 1rem;
}

footer #fthird h3 {
    display: block;
    font-size: 25px;
    margin: 0px;
    color: white;
    margin-top: 2rem;
}
